<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../master/header'); %>
</head>
<body >

<header>
    <%- include('../../master/navbar'); %>
</header>

<main>
    <div class="container createreminder">
        <h1 class="reminder-title text-center pb-5"> Pengaturan Reminder </h1>
        <form action="/reminder" method="post" enctype="multipart/form-data" class=" shadow-lg rounded-4 p-5" >
            <div class="row">
                <div class="form-group col">
                    <label for="tgl-mulai" class="col-form-label">Tanggal Mulai :</label>
                    <input type="date" class="form-control form-control-lg" name="tgl_mulai" id="tgl-mulai" value="<%= tgl_mulai %>"> 
                </div>
                <div class="form-group col">
                    <label for="tgl-selesai" class="col-form-label">Tanggal Selesai :</label>
                    <input type="date" class="form-control form-control-lg" name="tgl_selesai" id="tgl-selesai" value="<%= tgl_selesai %>"> 
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="jam-pagi" class="col-form-label">Jam Pagi :</label>
                    <input type="time" class="form-control form-control-lg" name="jam_pagi" id="jam-pagi" value="<%= jam_pagi %>"> 
                </div>
                <div class="form-group col">
                    <label for="ket-pagi" class="col-form-label">Keterangan (Pagi) :</label>
                    <input type="text" class="form-control form-control-lg" name="ket_pagi" id="ket-pagi" value="<%= ket_pagi %>"> 
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="jam-siang" class="col-form-label">Jam Siang :</label>
                    <input type="time" class="form-control form-control-lg" name="jam_siang" id="jam-siang" value="<%= jam_siang %>"> 
                </div>
                <div class="form-group col">
                    <label for="ket-siang" class="col-form-label">Keterangan (Siang) :</label>
                    <input type="text" class="form-control form-control-lg" name="ket_siang" id="ket-siang" value="<%= ket_siang %>"> 
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="jam-malam" class="col-form-label">Jam Malam :</label>
                    <input type="time" class="form-control form-control-lg" name="jam_malam" id="jam-malam" value="<%= jam_malam %>"> 
                </div>
                <div class="form-group col">
                    <label for="ket-malam" class="col-form-label">Keterangan (malam) :</label>
                    <input type="text" class="form-control form-control-lg" name="ket_malam" id="ket-malam" value="<%= ket_malam %>"> 
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Simpan</button>
            <button type="cancel" href="/reminderpage" class="btn btn-danger text-center mt-3">Cancel</button>
        </form>
    </div>

</main>
<svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 C 0,400 0,133 0,133 C 115.8468899521531,135.56459330143542 231.6937799043062,138.12918660287082 318,146 C 404.3062200956938,153.87081339712918 461.07177033492826,167.04784688995215 541,154 C 620.9282296650717,140.95215311004785 724.0191387559807,101.67942583732058 820,98 C 915.9808612440193,94.32057416267942 1004.8516746411483,126.23444976076556 1107,138 C 1209.1483253588517,149.76555023923444 1324.5741626794259,141.38277511961724 1440,133 C 1440,133 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#f1a661" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><path d="M 0,400 C 0,400 0,266 0,266 C 100.43062200956936,250.54545454545453 200.86124401913872,235.09090909090907 305,235 C 409.1387559808613,234.90909090909093 516.9856459330144,250.1818181818182 608,245 C 699.0143540669856,239.8181818181818 773.1961722488037,214.18181818181816 875,218 C 976.8038277511963,221.81818181818184 1106.2296650717706,255.09090909090912 1205,268 C 1303.7703349282294,280.9090909090909 1371.8851674641146,273.45454545454544 1440,266 C 1440,266 1440,400 1440,400 Z" stroke="none" stroke-width="0" fill="#f1a661" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>
<footer class="fixed-bottom" style="margin-bottom: 0;">
    <%- include('../../master/footer'); %>
</footer>
</body>
</html>