<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../master/header'); %>
</head>
<body >

<header>
    <%- include('../../master/navbar'); %>
</header>

<main>
    <div class="container createreminder">
        <h1 class="reminder-title text-center pb-5"> Pengaturan Reminder </h1>
        <form action="/reminder/23" method="post" enctype="multipart/form-data" >
            <div class="row">
                <div class="form-group col">
                    <label for="tgl-mulai" class="col-form-label">Tanggal Mulai :</label>
                    <input type="date" class="form-control form-control-lg" name="tgl_mulai" id="tgl-mulai" value="<%= tgl_mulai %>"> 
                </div>
                <div class="form-group col">
                    <label for="tgl-selesai" class="col-form-label">Tanggal Selesai :</label>
                    <input type="date" class="form-control form-control-lg" name="tgl_selesai" id="tgl-selesai" value="<%= tgl_selesai %>"> 
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="jam-pagi" class="col-form-label">Jam Pagi :</label>
                    <input type="time" class="form-control form-control-lg" name="jam_pagi" id="jam-pagi" value="<%= jam_pagi %>"> 
                </div>
                <div class="form-group col">
                    <label for="ket-pagi" class="col-form-label">Keterangan (Pagi) :</label>
                    <input type="text" class="form-control form-control-lg" name="ket_pagi" id="ket-pagi" value="<%= ket_pagi %>"> 
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="jam-siang" class="col-form-label">Jam Siang :</label>
                    <input type="time" class="form-control form-control-lg" name="jam_siang" id="jam-siang" value="<%= jam_siang %>"> 
                </div>
                <div class="form-group col">
                    <label for="ket-siang" class="col-form-label">Keterangan (Siang) :</label>
                    <input type="text" class="form-control form-control-lg" name="ket_siang" id="ket-siang" value="<%= ket_siang %>"> 
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="jam-malam" class="col-form-label">Jam Malam :</label>
                    <input type="time" class="form-control form-control-lg" name="jam_malam" id="jam-malam" value="<%= jam_malam %>"> 
                </div>
                <div class="form-group col">
                    <label for="ket-malam" class="col-form-label">Keterangan (malam) :</label>
                    <input type="text" class="form-control form-control-lg" name="ket_malam" id="ket-malam" value="<%= ket_malam %>"> 
                </div>
            </div>
            <button type="submit" class="btn btn-primary ">Simpan</button>
            <button type="cancel" href="/reminderpage" class="btn btn-danger text-center">Cancel</button>
        </form>
    </div>

</main>

<footer style="margin-bottom: 0;">
    <%- include('../../master/footer'); %>
</footer>
</body>
</html>